div{
    background-color: black;
    width: 400px;
    height: 250px;
}
.div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30vh;
    align-items: center;
}
.second{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.circle{
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    width: 120px;
    height: 120px;
    position: relative;
}
.paragraph{
    width: 300px;
    height: 200px;
    border: 2px solid grey;
    position: absolute;
}
.third{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.move{
    border: 2px solid grey;
    width: 250px;
    height: 300px;
    background-color: white;
    position: absolute;
    margin-right: 35px;
    margin-left: 35px; 
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.one{
    width: 50px;
    height: 250px;
    background-color: lightblue;
    margin-right: 10px;
    margin-left: 10px;
}
.two{
    width: 50px;
    height: 174px;
    background-color: lightblue;
    margin-right: 10px;
}
.three{
    width: 50px;
    height: 92px;
    background-color: lightblue;
    margin-right: 10px;
}
.four{
    width: 50px;
    height: 221px;
    background-color: lightblue;
    margin-right: 10px;
}


